<%-include("header")-%>
    <div class="center">

        <img src="./something-wrong.png" alt="">
        <h1>
            OOPS! Something Went Wrong !
        </h1>
        <h2>Sorry,we do not have sufficient information regarding the country you're looking for. </h2>
        <h2>Refresh the page,or try again later.</h2>


        <a href="/">
            <button class="btntwo">Try Again</button>
        </a>
    </div>
    <footer class="f">
        <div>
            <p>© Riya Verma 2021</p>
        </div>
    </footer>
    </body>

    </html>